body {
  background-color: mintcream;
}

@media (max-width: 480px) {
  body {
    background-color: lightgreen;
  }
}

#welcome-section {
  height: 100vh;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  margin-bottom: 200px;
}
